<nav class="flex gap-4">
  <a href="/" class="{{ 'font-bold' if title === 'Home' }}">Home</a>
  <a href="/users" class="{{ 'font-bold' if title === 'Users' }}">Users</a>
  <a href="/projects" class="{{ 'font-bold' if title === 'Project' }}">Project</a>
</nav>