<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <title>{{ title }}</title>
  <link rel="stylesheet" href="/index.css" />
  <script src="/script.js" defer></script>
</head>
<body>
  {{> navigation }}
  {{{ body }}}
</body>
</html>
