{% extends 'layouts/layout.njk' %}
{% block content %}
  {{ message }}
  <div id="chart" class="w-full max-w-[80vw]"></div>
  <div id="user-table-container" class="w-full max-w-[80vw]"></div>
{% endblock %}